<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.newtonapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".NewtonappApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.ui.ReportDetailActivity"></activity>
        <activity android:name=".view.ui.ReportActivity" />
        <activity android:name=".view.ui.ApprovalActivity" />
        <activity android:name=".view.ui.ProductHistoryActivity" />
        <activity
            android:name=".view.ui.OnboardingScreenActivity"
            android:parentActivityName=".view.ui.DashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.ui.DashboardActivity" />
        </activity>
        <activity android:name=".view.ui.SolvingActivity" />
        <activity android:name=".view.ui.OutstandingActivity" />
        <activity android:name=".view.ui.DashboardActivity" />
        <activity android:name=".view.ui.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>